<div class="container">
  <div class="form-container">
    <div class="card">
      <div class="login">
        <div class="logo">
          <img src="../../../assets/applogo (1).png" alt="">
        </div>
        <h3>Reset Your Password</h3>
        <hr>
        <p>We will send you a link to reset password.</p>
        <div class="forgot-password">
          <mat-form-field appearance="fill">
            <mat-label>Enter your email</mat-label>
            <input matInput>
          </mat-form-field>
          <button >
            RECOVER PASSWORD
          </button>
        </div>
      </div>
      <div class="login-with-credentials">
        <button [routerLink]="['/']">BACK TO LOGIN</button>
      </div>
      <div class="card-footer">
        <div class="footer-text">
          2023 © Appinventiv HR System
        </div>
      </div>
    </div>
  </div>
</div>
