*{
  box-sizing: border-box;
}
.container{
  background-image: url('../../../assets/banner.png');
  background-repeat: no-repeat;
  min-height: 100vh;
  height: 100%;
  background-size: cover;
  background-position: center;
  padding: 0 !important;
  margin: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  .form-container{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100vh;
      max-width: 380px;

      .card{
          background-color: white;

          max-width: 380px;
          width: 100%;
          .login{
              padding: 48px;

              @media screen and (max-width: 480px) {
                  padding: 24px   ;
              }
              .logo{
                  img{
                      width: 100%;
                  }
              }
              h3{
                  text-align: center;
                  color: #b5b6b8;
                  border-bottom: #b5b6b8;
                  margin-top: 20px;
              }
              hr{
                  margin: 20px 0px;
              }
              p{
                  text-align: center;
                  color: #4E5155;
                  margin-bottom: 5px;
              }
              .forgot-password{
                  mat-form-field{
                      width: 100%;
                      ::ng-deep .mat-form-field-flex{
                          background-color: white;
                          border-bottom: #b5b6b8;
                      }
                      mat-label{
                          color: #b5b6b8;
                      }
                  }
                  button{
                      font-size: 12px;
                      width: 100%;
                      padding: 8px 16px;
                      color: #00abff;
                      border: 1px solid #00abff;
                      background-color: white;
                  }
                  button:hover{
                      background-color: #00abff;
                      color: white;
                  }

              }


              .authentication-with-google{
                  height: 100px;
                  margin: 48px 0px;

                  .sign-in-google{
                      display: flex;
                      height: 50px;
                      div{
                          width: 20%;
                          display: flex;
                          justify-content: center;
                          align-items: center;
                          border: 1px solid blue;
                          img{
                              width: 20px;
                              height: 20px;
                          }
                      }
                      button{
                          height: 50px;
                          width: 80%;
                          font-family: sans-serif;
                          font-size: 18px;
                          background-color: #4c69f6;
                          border: 0px;
                          color: white;
                      }
                  }
                  .text{
                      padding: 16px 0px;
                      height: 50px;
                      width: 100%;
                      text-align: center;
                      font-family: sans-serif;
                      color: #b5b6b8;
                  }

              }
              .login-form-container{
                  height: 230px;
                  margin: 20px 0px;

                  mat-form-field{
                      width: 100%;
                      ::ng-deep .mat-form-field-flex{
                          background-color: white;
                          border-bottom: #b5b6b8;
                      }
                      mat-label{
                          color: #b5b6b8;
                      }
                      ::ng-deep .mat-form-field-appearance-fill .mat-form-field-underline::before {
                          background-color: green;
                        }

                  }
                  a{
                      color: #1e70cd;
                      text-decoration: none;
                  }
                  .login-btn{
                      width: 100%;
                      button{
                          position: relative;
                          float: right;
                          text-align: center;
                          border: 0px;
                          height: 35px;
                          width: 100px;
                          color: white;
                          background-color: #00abff;
                          mat-icon{
                              position: absolute;
                              top: 5px;
                              left: 10px;
                          }
                          span{
                              position:absolute;
                              top: 10px;
                              left: 40px;
                          }
                      }
                  }

              }


          }
          .login-with-credentials{
              width: 96%;
              height: 35px;
              margin: 8px;
              @media screen and (max-width: 400px) {
                  margin: 6px;
              }

              button{
                  border-radius: 3px;
                  border: 1px solid #00abff;
                  background-color:white;
                  color: #00abff;
                  padding: 8px 16px;
                  font-size:12px;
                  width: 104.2%;
                  height: 100%;
                  font-family: sans-serif;
                  margin-left: -0.5rem;
              }
              button:hover{
                  background-color: #00abff;
                  color: white;
              }
          }
          .card-footer{
              width: 100%;

              padding: 16px 48px;
              .footer-text{
                  text-align: center;
                  color: #b5b6b8;
              }


          }


      }
  }

}
