// @import "../../scss/mix";

.header {
  position: fixed;
  width: 100%;
  z-index: 10000;
  mat-toolbar {
    padding: 10px 0px 0px 20px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;

    .header-left {
      img {
        width: 60%;
      }

      button {
        border: none;
        background-color: white;
        position: relative;
        bottom: 10px;
      }

      .app_logo {
        width: 54%;
      }
    }
    .header-right {
      display: flex;
      justify-content: space-between;
      .logout {
        display: flex;
        p {
          font-size: 13px;
        }
      }
    }
  }
}
// .example-container {
//   position: relative;
//   top: 70px;
//   height: 100%;
//   border: 1px solid rgba(0, 0, 0, 0.5);
// }
// .example-sidenav-content {

//   height: 100%;
//   background-color: #f2f6fc;
// }
// .example-sidenav {
//    user-select: none;

//    mat-icon{
//     padding: 10px 5px 0px 23px;
//    }

//    span{
//     padding-top: 10px;
//    }
// }
// .full-width {
//   width: 11vw;
//   margin-top: 3px;

// }
// ::ng-deep.mat-list-item-content{
//   display: flex;
// }

// ::ng-deep .mat-list-item{

// }

.example-container {
  position: relative;
  top: 70px;
  height: 900px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.example-sidenav-content {
  // display: flex;
  height: 100%;
  // align-items: center;
  // justify-content: center;
}
.example-sidenav {
  user-select: none;

  span {
    padding-top: 10px;
  }
}
.full-width {
  width: 11vw;
  margin-top: 3px;
}
.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}
.menu-button.rotated {
  transform: rotate(180deg);
}
.submenu {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
  padding-left: 30px;
}
.submenu.expanded {
  transform: scaleY(1);
}

::ng-deep.mat-list-item-content {
  display: flex;
}
