.Google {
  margin: 0px;
  box-sizing: border-box;
  padding: 0px;
  display: grid;
  border: 1px solid #4285f4;

  grid-template-columns: 15% 85%;
  img{
    background-color: white;
    height: 1.7em;
    width: 1.5em;
    padding: 1em;
  }

  p{
    display: flex;
    justify-content: center;
    font-size:medium;
    font-weight: 500;
    margin: 0px;
    align-items: center;
    color: white;
    background-color: #4285f4;
  }

}
.text1{
  display: flex;
  justify-content: center;
  margin: 15px;

  display: flex;
  text-align: center;
  align-items: center;
  color:#a3a4a6 !important;
}
